# Cube environment variables: https://cube.dev/docs/reference/environment-variables
CUBEJS_DEV_MODE=true
CUBEJS_DB_TYPE=postgres
CUBEJS_API_SECRET=9bd706f6e6bbf99e0ae401459bcbb22b9401c90080e0c9b11e12aab4ab4862cffbe60f00f3a92dc283b1215c08173d4f1904484101d9687660f10d24da7647c8
CUBEJS_EXTERNAL_DEFAULT=true
CUBEJS_SCHEDULED_REFRESH_DEFAULT=true
CUBEJS_SCHEMA_PATH=model
CUBEJS_WEB_SOCKETS=true
